.p{
    font-size:25px;
    text-align: center;

}
.texto{
    font-size:17px;
    text-align: justify;

}
.imagem{
    width: auto;
    height: auto;
    max-width:100%;
    
}      
.espaco{
    display:flex;

}
.espacamento{
        margin:50px;

}
.dados{
    margin-bottom:10px;
    padding-bottom:10px;

}
.box{
    margin:5px;
    padding:5px;
}
.caixa{
    border: 5px;
    margin: 10px;

}
body {
    font-family: Arial, Helvetica, sans-serif;

}
  
.topnav {
    overflow: hidden;

}      
.topnav a {
    float:right;
    color: #363636;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}
.topnav a:hover {
    background-color:#0dc09c;
    color: white;
}
.topnav a.active {
    background-color: #0dc09c;
    color: #f2f2f2;
    float: left;

}
